@model cis2055_NemesysProject.ViewModel.InvestigationViewModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<NemesysUser> UserManager

@{
    ViewData["Title"] = "Details";
    var user = await UserManager.GetUserAsync(User);
}

<h1>Details</h1>

<div>
    <h4>Investigation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Investigation
        </dt>
        <dd class="col-sm-10">
            <b>@Html.DisplayNameFor(model => model.InvestigationId) :</b>
            @Html.DisplayFor(model => model.InvestigationId)
            <br />
            <b>@Html.DisplayNameFor(model => model.Description) :</b>
            @Html.DisplayFor(model => model.Description)
            <br />
            <b>@Html.DisplayNameFor(model => model.User.Email) :</b>
            @Html.DisplayFor(model => model.User.Email)
            <br />
            @if (Model.User.PhoneNumber != null)
            {
                <b>@Html.DisplayNameFor(model => model.User.PhoneNumber) :</b>
                @Html.DisplayFor(model => model.User.PhoneNumber)
                <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report)
        </dt>
        <dd class="col-sm-10">
            <b>@Html.DisplayNameFor(model => model.Report.ReportId) :</b>
            @Html.DisplayFor(model => model.Report.ReportId)
            <br />
            <b>@Html.DisplayNameFor(model => model.Report.DateOfReport) :</b>
            @Html.DisplayFor(model => model.Report.DateOfReport)
            <br />
            <b>@Html.DisplayNameFor(model => model.Report.DateTimeHazard) :</b>
            @Html.DisplayFor(model => model.Report.DateTimeHazard)
            <br />
            <b>@Html.DisplayNameFor(model => model.Report.Description) :</b>
            @Html.DisplayFor(model => model.Report.Description)
            <br />
            <b>@Html.DisplayNameFor(model => model.Report.Status.StatusType) :</b>
            @Html.DisplayFor(model => model.Report.Status.StatusType)
            <br />
            <b>@Html.DisplayNameFor(model => model.Report.Hazard.HazardType) :</b>
            @Html.DisplayFor(model => model.Report.Hazard.HazardType)
            <br />
            @if (Model.Report.Image != "")
            {
                <b>@Html.DisplayNameFor(model => model.Report.Image) :</b>
                <img src="@Model.Report.Image" width="500" />
                <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.User)
        </dt>
        <dd class="col-sm-10">
            <b>@Html.DisplayNameFor(model => model.Report.User.Email) :</b>
            @Html.DisplayFor(model => model.Report.User.Email)
            <br />
            @if (Model.Report.User.PhoneNumber != null)
            {
                <b>@Html.DisplayNameFor(model => model.Report.User.PhoneNumber) :</b>
                @Html.DisplayFor(model => model.Report.User.PhoneNumber)
            }
        </dd>
        @if (Model.LogInvestigations != null)
        {
            var counter = 1;
            @foreach (var log in Model.LogInvestigations)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LogInvestigations)# @counter
                </dt>
                <dd class="col-sm-10">
                    <b>@Html.DisplayNameFor(r => log.DateOfAction) :</b>
                    @Html.DisplayFor(r => log.DateOfAction)
                    <br />
                    <b>@Html.DisplayNameFor(r => log.Description) :</b>
                    @Html.DisplayFor(r => log.Description)
                </dd>
                counter++;
            }
        }


    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Reports" asp-action="Details" asp-route-id="@Model.ReportId">View Report Details</a>
        @if (Model.User.Id.Equals(user.Id))
        {
            <a asp-action="Edit" asp-route-id="@Model.InvestigationId">| Add Log |</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
