@model cis2055_NemesysProject.ViewModel.InvestigationListViewModel

@{
    @using Microsoft.AspNetCore.Identity
    @inject UserManager<NemesysUser> UserManager
    ViewData["Title"] = "Index";
    var userId = UserManager.GetUserId(User);
}

<h1>Investigations Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Investigation Description
            </th>
            <th>
                Report Description
            </th>
            <th>
                Investigator
            </th>
            <th>
                Reporter
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Investigations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.AuthorAlias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report.User.AuthorAlias)
                </td>
                <td>
                    @if (userId == item.User.Id)
                    {
                        <a asp-action="Edit" asp-route-id="@item.InvestigationId">Add Log </a>
                    }
                    <a asp-action="Details" asp-route-id="@item.InvestigationId">| Details |</a>
                    @if (userId == item.User.Id)
                    {
                        <a asp-action="Delete" asp-route-id="@item.InvestigationId">Delete</a>
                    }
                    </td>
            </tr>
        }
    </tbody>
</table>
