@*﻿@model cis2055_NemesysProject.ViewModel.ReportListViewModel*@

@using Microsoft.AspNetCore.Identity
@inject UserManager<NemesysUser> UserManager

@model cis2055_NemesysProject.ViewModel.ReportListViewModel




@{
    var user = await UserManager.GetUserAsync(User);


}
@{
    ViewData["Title"] = "Index";
}

@if (Model.OwnReports == false)
{
    <h1 style="text-align:center">Reports Page: All</h1>
}
else
{
    <h1 style="text-align:center">Reports Page: @user.AuthorAlias</h1>

}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @if (await UserManager.IsInRoleAsync(user, "Reporter"))
                {
                    <li class="nav-item">
                        <a class="btn btn-success" asp-action="Create" asp-area="Reports">Create New Report</a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-light" asp-action="MyReport" asp-controller="Reports" asp-route-id="@user.Id">My Reports</a>
                    </li>
                }

                <li class="nav-item">
                    <p class="nav-link text-dark"> Filter Status By: </p>
                </li>
                <li class="btn btn-outline-light" onclick="filterStatuses('all')">
                    <a class="nav-link text-danger">Show All</a>
                </li>
                @foreach (var item in Model.StatusCategories)
                {
                    <li class="btn btn-outline-light" onclick="filterStatuses('@item.StatusType')">
                        <a class="nav-link text-danger">@item.StatusType</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>



<h3 style="text-align:center">Listing Reports by most recent Created Report</h3>
<div class="row">
    @foreach (var report in Model.Reports)
    {
        <div class="card @report.Status.StatusType" ; style="width: 50rem;padding:10px; margin:0 auto; text-align:center">

            <div class="card-body">
                <h3 class="card-title"><b>Status: </b>@report.Status.StatusType</h3>
                <p class="text-body">
                    <b>Created on:</b> @report.DateOfReport.ToShortDateString()<br />
                    @if (report.User.AuthorAlias != null)
                    {
                        <b>Created by:</b> @report.User.AuthorAlias<br />
                    }
                    <b>Hazard spotted:</b> @report.DateTimeHazard.ToShortDateString()<br />
                    <b>Type of hazard:</b> @report.Hazard.HazardType<br />
                    <b>Upvotes:</b> @report.Upvotes<br />
                    <b>Title:</b> @report.Title <br />
                    <img src="@report.Image" width="280" style="text-align: center;" />
                </p>
                @*<br />*@
                <div class="button-container">
                    <table style="text-align:center">

                        <tr>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if ((await UserManager.IsInRoleAsync(user, "Investigator")) && (report.Investigation == null))
                                {
                                    <td>
                                        <a asp-controller="Investigations" asp-action="Create" asp-route-id="@report.ReportId" class="btn btn-outline-primary">Open Investigation</a>
                                    </td>
                                }
                                @if (report.UserId.Equals(user.Id))
                                {
                                    <td>
                                        <a asp-controller="Reports" asp-action="Edit" asp-route-id="@report.ReportId" class="btn btn-outline-primary">Edit</a>
                                    </td>
                                }
                                <td>
                                    <a asp-controller="Reports" asp-action="Details" asp-route-id="@report.ReportId" class="btn btn-outline-dark">Details</a>
                                </td>
                                @if (report.UserId.Equals(user.Id))
                                {
                                    <td>
                                        <a asp-controller="Reports" asp-action="Delete" asp-route-id="@report.ReportId" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                }


                                @if (!report.UserId.Equals(user.Id) && User.IsInRole("Reporter"))
                                {
                                    <td>
                                        <a asp-controller="Reports" asp-action="UpdateUpvote" asp-route-id="@report.ReportId" class="btn btn-outline-success">Upvote</a>
                                        @*<a asp-controller="Reports" asp-action="UpdateUpvote" asp-route-id="@report.ReportId"  class="btn btn-outline-success">Delete</a>*@
                                    </td>
                                }
                            }
                        </tr>

                    </table>
                </div>

            </div>
        </div>
    }
</div>
