@model IEnumerable<cis2055_NemesysProject.Models.Report>
@using Microsoft.AspNetCore.Identity
@inject UserManager<NemesysUser> UserManager

@{
    ViewData["Title"] = "Index";
}
@{
    var user = await UserManager.GetUserAsync(User);
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeHazard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upvotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfReport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeHazard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Upvotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (item.UserId.Equals(user.Id))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ReportId">Edit |</a>

                        }
                         <a asp-action="Details" asp-route-id="@item.ReportId">Details</a> 

                    @if(item.UserId.Equals(user.Id))
                        {
                        <a asp-action="Delete" asp-route-id="@item.ReportId">| Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
